{% extends 'base.html' %}

{% block body%}


<br>
<br>
<br>
<br>
<div class="card border-dark mb3" >
	<div class="card-header" style="background-color:black"><h1 style="color:white;text-align:center">Table and Graph</h1></div>
      <br>
      <br>
      <br>
      <div class="row">  
      <div style="width: 800px;float: left;">
      {{dat | safe}}
</div>

<div style="margin: auto;
width: 50%;
padding: 10px;" >
{{ graph_div|safe }}
{{ graph_div_krish|safe }}
</div>
</div> 
</div>




{% endblock %}

